@using SFA.DAS.ApprenticeApp.Pwa.ViewHelpers
@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.EditKsbPageModel

@{
    ViewData["Title"] = "Manage a knowledge, skill or behaviour (KSB)";
    ViewData["Section"] = "Ksbs";
}

<h1 class="govuk-heading-xl">
    @Model.KsbProgress.KsbKey
</h1>
<p class="govuk-body">@Model.KsbDetail</p>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-controller="Ksb" asp-action="AddUpdateKsbProgress" enctype="multipart/form-data"
              class="form submit-form">

               <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset" id="CurrentStatus">
                                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                      Status
                                  </legend>

                                  <div class="govuk-radios govuk-radios--small">
                                      @foreach (var ksbStatus in Model.KsbStatuses)
                                      {
                                          <div class="govuk-radios__item">
                                              <input class="govuk-radios__input" name="currentstatus" type="radio"
                                                     value="@ksbStatus" checked="@(Model.KsbProgress.CurrentStatus == ksbStatus)"
                                                     asp-for="@Model.KsbProgress.CurrentStatus" id="ksbStatus_@ksbStatus" />
                                              <label class="govuk-label govuk-radios__label" for="ksbStatus_@ksbStatus">
                                                  @{
                                                      var statusItem = ksbStatus;
                                                      string statusItemDisplay = statusItem.GetEnumDescription();
                                                      <text>@statusItemDisplay</text>
                                                  }
                                              </label>
                                          </div>
                                      }
                                  </div>
                              </fieldset>
                          </div>

            <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
                <label class="govuk-label" for="note">
                    Note
                </label>
                <div class="govuk-hint">You can add a note about this KSB</div>
                <textarea class="govuk-textarea govuk-js-character-count" rows="8" id="note" name="note"
                          aria-describedby="KsbProgress_Note-info" value="@Model.KsbProgress.Note">@Model.KsbProgress.Note</textarea>
                <div id="KsbProgress_Note-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 1000 characters
                </div>
            </div>



            @if (Model.KsbProgress.Tasks != null && Model.KsbProgress.Tasks.Count > 0)
            {
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Linked tasks</legend>
                        @foreach (var task in Model.KsbProgress.Tasks)
                        {

                                    <h2 class="app-card__heading">@task.Title</h2>
                                    <ul class="app-icon-list app-icon-list--muted">
                                        <li>
                                            <span class="app-icon-list__icon">
                                                <svg>
                                                    <use xlink:href="/assets/images/icons.svg#calendar"></use>
                                                </svg>
                                            </span>
                                            <span>Due @string.Format("{0:d MMMM, h:mm}", task.DueDate)@string.Format("{0:tt}", task.DueDate).ToLower()</span>
                                        </li>
                                        @if (task.TaskReminders != null && task.TaskReminders.Count() > 0)
                                        {
                                            <li>
                                                <span class="app-icon-list__icon">
                                                    <svg>
                                                        <use xlink:href="/assets/images/icons.svg#notifications"></use>
                                                    </svg>
                                                </span>
                                                <span>
                                                    Reminder set: @task.TaskReminders.Select(r => r.ReminderValue).First()

                                                    @switch (task.TaskReminders.First().ReminderValue)
                                                    {
                                                        case 0:
                                                            <text>minute</text>
                                                            break;
                                                        case 1:
                                                            <text>hour</text>
                                                            break;
                                                        case 2:
                                                            <text>day</text>
                                                            break;
                                                        default:
                                                            <text></text>
                                                            break;
                                                    }

                                                    @if (task.TaskReminders.First().ReminderValue > 1)
                                                    {
                                                        <text>s</text>
                                                    } before
                                                </span>
                                            </li>
                                        }

                                        @if (task.TaskLinkedKsbs != null)
                                        {
                                            <li>
                                                <span class="app-icon-list__icon">
                                                    <svg>
                                                        <use xlink:href="/assets/images/icons.svg#ksbs"></use>
                                                    </svg>
                                                </span>
                                                <span>
                                                    Linked to @task.TaskLinkedKsbs.Count.ToString()
                                                    @if (task.TaskLinkedKsbs.Count > 1)
                                                    {
                                                        <text>KSBs</text>
                                                    }
                                                    else
                                                    {
                                                        <text>KSB</text>
                                                    }
                                                </span>
                                            </li>
                                        }
                                    </ul>

                                        <div class="app-dropdown__menu">
                                            <ul class="app-dropdown__menu-list">
                                                <li class="share-link-container">
                                                    <a href="#" class="app-dropdown__menu-link share-link">
                                                        <span class="app-dropdown__menu-icon">
                                                            <svg>
                                                                <use xlink:href="/assets/images/icons.svg#share"></use>
                                                            </svg>
                                                        </span>
                                                        <span>Share</span>
                                                    </a>
                                                    <input type="hidden" class="share-title" value="@task.Title" />
                                                    <input type="hidden" class="share-note" value="@task.Note" />
                                                </li>
                                                <li>
                                                    <a href="#" class="app-dropdown__menu-link remove-ksb-task" data-progressId="@Model.KsbProgress.KsbProgressId" data-taskId="@task.TaskId">
                                                        <span class="app-dropdown__menu-icon">
                                                            <svg>
                                                                <use xlink:href="/assets/images/icons.svg#unlink"></use>
                                                            </svg>
                                                        </span>
                                                        <span>Remove link to task</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                        }
                    </fieldset>
                </div>
            }

            <input type="hidden" id="ksbProgressId" name="KsbProgressId" value="@Model.KsbProgress.KsbProgressId" />
            <input type="hidden" id="KsbId" name="KsbId" value="@Model.KsbProgress.KsbId" />
            <input type="hidden" id="KsbKey" name="KsbKey" value="@Model.KsbProgress.KsbKey" />
            <input type="hidden" id="KsbProgressType" name="KsbProgressType" value="@Model.KsbProgress.KsbProgressType" />
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Save and continue
            </button>
        </form>
    </div>
</div>
