@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.TasksPageModel

@{
    Layout = null;
}

@foreach (var task in Model.Tasks)
{
    <a class="app-card" id="task-@task.TaskId" href="#">
        <div class="app-card__header">
            <h2 class="app-card__heading">@task.Title</h2>
        </div>
        <div class="app-card__content">
            @if (task.ApprenticeshipCategory != null && task.ApprenticeshipCategory.Count > 0)
            {
                <div class="app-tag app-tag--category-@task.ApprenticeshipCategory.First().Title.ToLower().Replace(" ","").Replace("-", "") govuk-!-margin-bottom-3">
                    @task.ApprenticeshipCategory.First().Title
                </div>
            }
            <p>Completed @string.Format("{0:d MMMM yyyy, h:mm}", task.CompletionDateTime)@string.Format("{0:tt}", task.CompletionDateTime).ToLower()</p>
            @if (!String.IsNullOrEmpty(task.Note))
            {
                <p>
                    <span>Note added</span>
                </p>
            }
            @if (task.TaskFiles.Any())
            {
                <p>
                    <span>@task.TaskFiles.Count.ToString() file(s) attached</span>
                </p>
            }
            @if (task.TaskLinkedKsbs.Any())
            {
                <p>
                    <span>Linked to @task.TaskLinkedKsbs.Count.ToString() KSBs</span>
                </p>
            }
        </div>
    </a>
}
