@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}


<h1>Your profile</h1>


<h2>Your details</h2>

<p><strong>Name:</strong></p>
<p>@Model?.Apprentice?.FirstName @Model?.Apprentice?.LastName</p>

<p><strong>Email address:</strong></p>
<p>@Model?.Apprentice?.Email</p>

<p><strong>Date of birth:</strong></p>
<p>@Model?.Apprentice?.DateOfBirth?.ToString("dd/MM/yyyy")</p>




<h2>Your apprenticeship</h2>

<p><strong>Current employer:</strong></p>
<p>@Model.MyApprenticeship?.EmployerName</p>

<p><strong>Training provider:</strong></p>
<p>@Model.MyApprenticeship?.TrainingProviderName</p>

<p><strong>Apprenticeship:</strong></p>
<p>@Model.MyApprenticeship?.Title</p>

<p><strong>Level:</strong></p>
<p>@Model.MyApprenticeship?.Level</p>

<p><strong>Planned training start date:</strong></p>
<p>@Model.MyApprenticeship?.StartDate?.ToString("dd/MM/yyyy")</p>

<p><strong>Planned training end date:</strong></p>
<p>@Model.MyApprenticeship?.EndDate?.ToString("dd/MM/yyyy")</p>

<p><strong>Apprenticeship Length:</strong></p>
<p>@(Model.MyApprenticeship?.ApprenticeshipLength?.Days) days</p>