@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.TaskViewModelBase

<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $(".add-task").click(function (e) {
            var titleValid1 = true, titleValid2 = true, noteValid = true, dateValid1 = true, dateValid2 = true, timeValid = true;

            if ($("#Task_Title").val().length > 150) {
                $(".title-error-1").text("Name of the task must be 150 characters or less");
                titleValid1 = false;
            } else {
                $(".title-error-1").text("");
            }

            if ($("#Task_Title").val().length == 0) {
                $(".title-error-2").text("Enter the name of the task");
                titleValid2 = false;
            } else {
                $(".title-error-2").text("");
            }

            if ($("#note").val().length > 1000) {
                $(".note-error").text("Note must be 1000 characters or less");
                noteValid = false;
            } else {
                $(".note-error").text("");
            }

            if (!isValidDate($("#date").val())) {
                $(".date-error-1").text("Date the task @(Model.StatusId == 1 ? "was completed" : "is due") must be a real date");
                dateValid1 = false;
            }
            else {
                $(".date-error-1").text("");
            }

            if ($("#date").val() == "") {
                $(".date-error-2").text("Enter date the task @(Model.StatusId == 1 ? "was completed" : "is due")");
                dateValid2 = false;
            }
            else {
                $(".date-error-2").text("");
            }

            if ($("#time").val() == "") {
                $(".time-error").text("Enter time the task @(Model.StatusId == 1 ? "was completed" : "is due")");
                timeValid = false;
            }
            else {
                $(".time-error").text("");
            }

            if (titleValid1 == true &&
                titleValid2 == true &&
                noteValid == true &&
                dateValid1 == true &&
                dateValid2 == true &&
                timeValid == true) {
                $(".form").submit();
            }

        });

        function isValidDate(d) {
            return !isNaN((new Date(d)).getTime());
        }

        $("#ksb-popup-btn").click(function (e) {
            e.preventDefault();
            const $ksbOverlay = $("#ksb-popup");
            $ksbOverlay.load('@Url.Action("LinkKsbs", "Ksb")', function () {
                $ksbOverlay.css({ top: "-10px", display: "flex" });
                const ksbIdList = $('#linked-ksb-ids').val();
                $('.link-ksb-checkbox').each(function () {
                    var ksbId = $(this).val();
                    if (ksbIdList.includes(ksbId)) { $(this).prop('checked', true) }
                });
            });
        });

        $('body').on('click', '.ksb-item-edit', function (e) {
            e.preventDefault();
            const $ksbOverlay = $("#ksb-popup");
            $ksbOverlay.load('@Url.Action("LinkKsbs", "Ksb")', function () {
                $ksbOverlay.css({ top: "-10px", display: "flex" });
                const ksbIdList = $('#linked-ksb-ids').val();
                $('.link-ksb-checkbox').each(function () {
                    var ksbId = $(this).val();
                    if (ksbIdList.includes(ksbId)) { $(this).prop('checked', true) }
                });
            });
        });

        $('body').on('click', '.edit-ksb', function (e) {
            if ($("#ksb-popup").html().length > 0) {
                $('#ksb-popup').show();
            }
            else {
                $('#ksb-popup').load('@Url.Action("LinkKsbs", "Ksb")', function () {
                    $('#ksb-popup').show();

                    $('.add-edit-content-area').height($('.app-container').height() - 150);
                });
            }
            $("html, body").animate({ scrollTop: 0 }, "slow");

        });

        $('body').on('click', '.ksb-popup-cancel', function (e) {
            $('#ksb-popup').hide();
        });

        $('body').on('click', '.link-ksb-checkbox', function (e) {
            var value = $(this).attr("value");
            var ksbKey = $(this).attr("data-title");
            var ksbType = $(this).attr("data-type");
            var status = $(`#app-collapse-contents-status-${value}`).find('.ksb-status-radio:checked').val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("EditKsbProgress", "Ksb")',
                data: { ksbId: value, ksbKey: ksbKey, ksbType: ksbType, ksbStatus: status },
                dataType: "json"
            });
        });

        $('body').on('click', '.ksb-status', function (e) {
            var value = $(this).attr("value");
            var ksbId = $(this).attr("data-id");
            var ksbKey = $(this).attr("data-key");
            var ksbType = $(this).attr("data-type");
            var note = $(this).attr("data-note");

            $.ajax({
                type: "POST",
                url: '@Url.Action("EditKsbProgress", "Ksb")',
                data: { ksbId: ksbId, ksbKey: ksbKey, ksbType: ksbType, ksbStatus: value, note: note },
                dataType: "json"
            });
        });

        $('body').on('click', '.ksb-item-removeLink', function (e) {
            e.preventDefault()
            const currentKsbIds = $('#linked-ksb-ids').val().split(',');
            const filteredKsbIds = currentKsbIds.filter(id => id !== $(this).data('id'));
            $('#linked-ksb-ids').val(filteredKsbIds)
            $(`#ksb-item-${$(this).data('id')}`).slideUp(function() {
                $(this).remove();
            });
        });

        $('body').on('click', '.link-ksb-confirm', function (e) {

            var checkboxes = $(".link-ksb-checkbox:checked")

            var result = checkboxes.map(function (i, e) {
                return $(e).attr("value");
            }).get();

            $("#linked-ksb-ids").val(result);

            var text = checkboxes.map(function (i, e) {
                return `<div class="app-card ksb-item" id="ksb-item-${$(e).attr("value")}">
                            <div class="app-card__header">
                                <h2 class="app-card__heading">${$(e).attr("data-title")}</h2>
                            </div>
                            <p>${$(e).attr("data-desc")}</p>
                            <div class="ksb-status-display app-tag app-tag--status-${$(e).attr("data-status").replaceAll(" ", "").toLowerCase()}">${$(e).attr("data-status")}</div>
                            <hr class="app-separator" />
                            <div class="app-dropdown" data-module="app-dropdown">
                                <button class="app-dropdown__toggle" aria-expanded="false">View actions<span class="govuk-visually-hidden"> for ${$(e).attr("data-title")}</span>
                                </button>
                                <div class="app-dropdown__menu">
                                    <ul class="app-dropdown__menu-list">
                                        <li>
                                            <a class="app-dropdown__menu-link ksb-item-edit" href="#">
                                                <span class="app-dropdown__menu-icon">
                                                    <svg>
                                                        <use xlink:href="/assets/images/icons.svg#edit"></use>
                                                    </svg>
                                                </span>
                                                <span>Edit</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="app-dropdown__menu-link ksb-item-removeLink" href="#" data-id="${$(e).attr("value")}">
                                                <span class="app-dropdown__menu-icon">
                                                    <svg>
                                                        <use xlink:href="/assets/images/icons.svg#unlink"></use>
                                                    </svg>
                                                </span>
                                                <span>Remove link to this KSB</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>`;
            }).get();

            $("#linked-ksb-details").html(text);
            $('#ksb-popup').hide();
            appInit();
        });

        $('body').on('click', '.edit-linkedksb', function (e) {
            $('.app-dropdown__menu').hide();
            var value = $(this).attr("value");
            $.ajax({
                type: "GET",
                url: '@Url.Action("AddUpdateKsbProgress", "Ksb")',
                data: { id: value },
                dataType: "json"
            });
        });

        $(".edit-linkedksb").click(function (e) {
            if ($("#ksb-edit-popup").html().length > 0) {
                $('#ksb-edit-popup').html() = "";
            }
            else {
                $("ksb-edit-popup")
                $('#ksb-edit-popup').load('@Url.Action("AddUpdateKsbProgress", "Ksb")', function () {

                    $('#ksb-edit-popup').show();
                    $('.add-edit-content-area').height($('.app-container').height() - 150);

                });
            }
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });
    });
</script>