@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.TaskViewModelBase

<div class="app-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="150">

    <label class="app-label" asp-for="@Model.Task.Title">
        Name of the task
    </label>
    <div class="title-error-1 form-error govuk-hint"></div>
    <div class="title-error-2 form-error govuk-hint"></div>
    <input class="app-input govuk-js-character-count" name="title" type="text" asp-for="@Model.Task.Title"
        aria-describedby="Task_Title-info">
    <div id="Task_Title-info" class="govuk-hint govuk-character-count__message">
        You can enter up to 150 characters
    </div>
</div>

<div class="app-form-group">
    <label class="app-label" for="date">
        Select date the task @(Model.StatusId == 1 ? "was completed" : "is due")
    </label>
    <div class="date-error-1 form-error govuk-hint"></div>
    <div class="date-error-2 form-error govuk-hint"></div>
    <input class="app-input" id="date" name="duedate" type="date" asp-for="@Model.Task.DueDate">
</div>
<div class="app-form-group">
    <label class="app-label" for="time">
        @(Model.StatusId == 1 ? "Enter the time the task was completed" : "Select time the task is due")
    </label>
    <div class="time-error form-error govuk-hint"></div>

    @if (Model.StatusId == 0)
    {
        <input class="app-input" id="time" name="time" type="time"
            value="@Model.Task.DueDate.GetValueOrDefault().ToString("HH:mm")">
    }
    else
    {
        <input class="app-input" id="time" name="time" type="time"
            value="@Model.Task.CompletionDateTime.GetValueOrDefault().ToString("HH:mm")">
    }
</div>
@{
    var timeHours = Model.Task.DueDate.GetValueOrDefault().ToString("HH");
    var timeMinutes = Model.Task.DueDate.GetValueOrDefault().ToString("mm");
    var timeInMinutes = (Convert.ToInt32(timeHours) * 60) + Convert.ToInt32(timeMinutes);
    var reminderValue = Model.Task.ReminderValue;
    var isCustomReminder = reminderValue != 0 && reminderValue != 60 && reminderValue != 1440 && reminderValue != 0 && reminderValue > 0;
    var customDays = reminderValue / 1440;
    var customTime = reminderValue % 1440;
    if (customTime > (1440/2))
    {
        customDays++;
    }
    customTime = timeInMinutes - customTime;
    if (customTime < 0)
    {
        customTime = 1440 + customTime;
    }
    var customHours = customTime / 60;
    var customMinutes = customTime % 60;
    var customTimeFormatted = $"{customHours:00}:{customMinutes:00}";


    if (Model.StatusId != 1)
    {
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">Set a reminder</legend>
            <div class="app-card">
                <div class="app-collapse" data-module="app-collapse">
                    <div class="app-collapse__header">
                        <button class="app-collapse__button" aria-expanded="false" aria-controls="app-collapse-task-reminder">
                            <span class="app-collapse__title">None</span>
                            <span class="app-collapse__icon" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="app-collapse__contents app-radios" id="app-collapse-task-reminder">
                        <div class="app-radios__item">
                            <input class="app-radios__input task-reminder" id="ReminderValueNone" name="ReminderValue"
                                type="radio" value="">
                            <label class="app-label app-radios__label" for="ReminderValueNone">
                                None
                            </label>
                        </div>
                        <div class="app-radios__item">
                            <input class="app-radios__input task-reminder" id="ReminderValueZero" name="ReminderValue"
                                type="radio" value="0" checked="@(Model.Task.ReminderValue == 0)">
                            <label class="app-label app-radios__label" for="ReminderValueZero">
                                At the time of activity
                            </label>
                        </div>
                        <div class="app-radios__item">
                            <input class="app-radios__input task-reminder" id="ReminderValueSixty" name="ReminderValue"
                                type="radio" value="60" checked="@(Model.Task.ReminderValue == 60)">
                            <label class="app-label app-radios__label" for="ReminderValueSixty">
                                1 hour before
                            </label>
                        </div>
                        <div class="app-radios__item">
                            <input class="app-radios__input task-reminder" id="ReminderValueOneDay" name="ReminderValue"
                                type="radio" value="1440" checked="@(Model.Task.ReminderValue == 1440)">
                            <label class="app-label app-radios__label" for="ReminderValueOneDay">
                                1 day before
                            </label>
                        </div>
                        <div class="app-radios__item">
                            <input class="app-radios__input task-reminder" id="ReminderChoose" name="ReminderValue" type="radio"
                                value="" checked="@isCustomReminder">
                            <label class="app-label app-radios__label" for="ReminderChoose">
                                Choose a day and time
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>

    }
}


<div id="reminder-date-time" class="app-modal">
    <div class="app-modal__content" tabindex="0">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">Choose a day and time for the reminder</legend>
            <p>How long before the task is due?</p>
            <div class="app-form-group--flex-row">
                <label class="govuk-visually-hidden" for="reminder-length">Select date for reminder</label>
                <input class="app-input" id="reminder-length" name="reminder-length" type="number" value="@customDays" />
                <label class="govuk-visually-hidden" for="reminder-unit">Day or week</label>
                <select class="app-select" id="reminder-unit" name="reminder-unit">
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                </select>
                <span class="govuk-body govuk-!-margin-bottom-0">before</span>
            </div>
            <div class="app-form-group">
                <label class="app-label govuk-!-font-weight-regular" for="reminder-time">Select a time <span class="govuk-visually-hidden">for the reminder</span></label>
                <input class="app-input" id="reminder-time" name="reminder-time" type="time" value="@customTimeFormatted" />
            </div>
        </fieldset>
        <div class="app-button-group app-button-group--space-between">
            <a class="app-link govuk-link--no-underline" id="reminder-cancel" role="button" href="#">Cancel</a>
            <a class="app-link govuk-link--no-underline" id="reminder-save" role="button" href="#">Confirm</a>
        </div>
    </div>
</div>

<div class="app-form-group">
    <p class="app-label">
        Link knowledge, skills and behaviours (KSBs)
    </p>
    <button class="app-button--field" id="ksb-popup-btn" data-id="@Model.Task.TaskId">
        Select KSBs this task will help you gain
        <span class="app-button--field-icon"></span>
    </button>
</div>