@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.EditTaskPageModel

@{
    ViewData["Title"] = "Tasks";
    ViewData["Section"] = "Tasks";
    Layout = "_Layout";
}

<div class="loader" style="display:none"></div>
<div id="ksb-popup" style=""></div>

<div class="popup-wrapper">
    <div class="app-page-header">
        <div class="app-overlay-header__cancel">
            <a asp-action="Index" asp-controller="Tasks" class="app-overlay-header__link">Cancel</a>
        </div>
        <h2 class="app-overlay-header__heading">
            View or edit a task
        </h2>
        <div class="app-overlay-header__save">
            <a href="#" class="app-overlay-header__link add-task post-form">Save</a>
        </div>
    </div>

    <div>
        <form method="post" enctype="multipart/form-data" class="form">
            <input type="hidden" id="TaskId" name="TaskId" value="@Model.Task.TaskId" />
            <input type="hidden" id="Status" name="Status" value="@Model.Task.Status" />
            <input type="hidden" id="TaskFiles" name="TaskFiles" value="@Model.Task.TaskFiles" />
            <input type="hidden" id="TaskLinkedKsbs" name="TaskLinkedKsbs" value="@Model.Task.TaskLinkedKsbs" />
            <input type="hidden" id="CompletionDateTime" name="CompletionDateTime" value="@Model.Task.CompletionDateTime" />
            <input type="hidden" id="Apprenticeshipid" name="Apprenticeshipid" value="@Model.Task.ApprenticeshipId" />

            <div class="app-form-group">
                <label class="app-label" for="title">
                    Title
                </label>
                <input class="app-input" id="title" name="title" type="text" placeholder="Title" value="@Model.Task.Title">
            </div>
            <div class="app-form-group">
                <label class="app-label" for="title">
                    Note
                </label>
                <input class="app-input" id="note" name="note" type="text" placeholder="Note" value="@Model.Task.Note">
            </div>

            <div class="app-form-group">
                <label class="app-label" for="date">
                    Due date
                </label>
                <input class="app-input" id="duedate" name="duedate" type="date" placeholder="dd/mm/yyyy" value="@Model.Task.DueDate.GetValueOrDefault().ToString("yyyy-MM-dd")">
            </div>
            <div class="app-form-group">
                <label class="app-label" for="duetime">
                    Due time
                </label>
                <input class="app-input" id="duetime" name="duetime" type="time" placeholder="HH:mm" value="@Model.Task.DueDate.GetValueOrDefault().ToString("HH:mm")">
            </div>

            <div class="app-form-group">
                <fieldset class="app-fieldset">
                    <legend class="app-fieldset__legend">
                        Category
                    </legend>
                    <div class="app-radios">
                        <fieldset id="ApprenticeshipCategoryId">


                            @foreach (var cat in Model.Categories)
                            {
                                <div class="app-radios__item">
                                    <input class="app-radios__input task-category" name="ApprenticeshipCategoryId" type="radio" value="@cat.CategoryId" checked="@(Model.Task.ApprenticeshipCategoryId == cat.CategoryId)" />
                                    <label class="app-label app-radios__label" for="ApprenticeshipCategoryId">
                                        @cat.Title
                                    </label>
                                </div>
                            }

                        </fieldset>
                    </div>

                </fieldset>
            </div>

            <div class="app-form-group">
                <fieldset class="app-fieldset app-fieldset--radios">
                    <legend class="app-fieldset__legend">
                        Set reminder
                    </legend>
                    <div class="app-radios">
                        <div class="app-radios__item">
                            <input class="app-radios__input" id="reminder-none" name="reminder" type="radio"
                                   value="none">
                            <label class="app-label app-radios__label" for="reminder-none">
                                None
                            </label>
                        </div>
                        <div class="app-radios__item">
                            <input class="app-radios__input" id="reminder-time" name="reminder" type="radio"
                                   value="time">
                            <label class="app-label app-radios__label" for="reminder-time">
                                At the time of activity
                            </label>
                        </div>
                        <div class="app-radios__item">
                            <input class="app-radios__input" id="reminder-5mins" name="reminder" type="radio"
                                   value="5mins">
                            <label class="app-label app-radios__label" for="reminder-5mins">
                                5 minutes before
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="app-form-group">
                <fieldset class="app-fieldset app-fieldset--radios">
                    <legend class="app-fieldset__legend">
                        Link knowledge, skills and behaviours (KSBs)
                    </legend>
                    <label class="app-label">Select KSBs this task will help you gain</label>
                    <input type="hidden" id="linked-ksb-ids" name="ksbslinked" value="@Model.LinkedKsbGuids" asp-for="@Model.Task.KsbsLinked" />
                    <div id="linked-ksb-details" class="govuk-label">
                        <input type="button" id="ksb-popup-btn" value="Link KSBs" data-id="@Model.Task.TaskId" />
                        @foreach (var ksb in Model.Task.TaskLinkedKsbs)
                        {
                            var ksbProgressData = Model.KsbProgressData.Where(k => k.KsbProgressId == ksb.KSBProgressId).FirstOrDefault();
                            <strong>@ksbProgressData.KsbKey</strong> <a class='edit-ksb'>Edit</a>
                            <p>@ksbProgressData.Detail</p><br /><br />
                            <p>@ksbProgressData.CurrentStatus</p>
                        }
                    </div>
                </fieldset>
            </div>
    </form>
    </div>
    </div>

    @await Html.PartialAsync("_AddEditTasksJs.cshtml")
