@using SFA.DAS.ApprenticeApp.Pwa.ViewHelpers
@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.ApprenticeKsbsPageModel


@foreach (var ksb in Model.Ksbs)
{
    <div class="ksb-item">
        <h2 class="app-card__heading ksb-key">@ksb.Key</h2>

        <a asp-controller="Ksb" asp-action="AddUpdateKsbProgress" asp-route-id="@ksb.Id" asp-route-key="@ksb.Key" asp-route-detail="@ksb.Detail" class="app-dropdown__menu-link">
                <span class="app-dropdown__menu-icon svg-placeholder"></span>
                <span>Edit</span>
            </a>
        <div class="govuk-body">@ksb.Detail</div>
        <div class="govuk-body">
            @if (ksb.Progress != null && ksb.Progress.Tasks.Count > 0)
                {
                    <span>
                    Linked to @ksb.Progress.Tasks.Count.ToString()
                    @if (@ksb.Progress.Tasks.Count > 1)
                        {
                            <text>tasks</text>
                        }
                        else
                        {
                            <text>task</text>
                        }
                    </span>
                }
        </div>
        <div class="app-tag">
            @if (ksb.Progress == null)
            {
                <text>Not started</text>
            }
            else
            {
                var status = ksb.Progress.CurrentStatus;
                string statusDisplay = status.GetEnumDescription();
                <text>@statusDisplay</text>
            }
        </div>
       
        <hr class="app-separator" />
    </div>   
}