@using SFA.DAS.ApprenticeApp.Pwa.ViewHelpers
@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.ApprenticeKsbsPageModel


@foreach (var ksb in Model.Ksbs)
{
    var progress = Model.KsbProgresses.Where(p => p.KSBId == ksb.Id).FirstOrDefault();
    <div>
        <h2 class="app-card__heading">@ksb.Key</h2>
        <div class="govuk-body">@ksb.Detail</div>
        <div class="govuk-body">
                @if (progress != null && progress.Tasks.Count > 0)
                {
                    <span>
                        Linked to @progress.Tasks.Count.ToString() 
                        @if (@progress.Tasks.Count > 1)
                        {
                            <text>tasks</text>
                        }
                        else
                        {
                            <text>task</text>
                        }
                    </span>
                }
        </div>
        <div class="app-tag">
            @if (progress == null)
            {
                <text>Not started</text>
            }
            else
            {
                var status = progress.CurrentStatus;
                string statusDisplay = status.GetEnumDescription();
                <text>@statusDisplay</text>
            }
        </div>
       
        <hr class="app-separator" />
    </div>   
}