@using SFA.DAS.ApprenticeApp.Pwa.ViewHelpers
@model SFA.DAS.ApprenticeApp.Pwa.ViewModels.EditKsbPageModel

<div class="app-page-header">
    <div class="app-overlay-header__cancel">
        <a asp-action="Index" asp-controller="Ksb" class="app-overlay-header__link">Cancel</a>
    </div>
    <h2 class="app-overlay-header__heading">
        Manage a knowledge, skill or behaviour (KSB)
    </h2>
    <div class="app-overlay-header__save">
        <a class="app-overlay-header__link save-ksb">Confirm</a>
    </div>
</div>



<div class="ksb-item">
    <form method="post" asp-controller="Ksb" asp-action="AddUpdateKsbProgress" enctype="multipart/form-data" class="form">
    <h2 class="app-card__heading ksb-key">@Model.KsbProgress.KsbKey</h2>
    <div class="govuk-body">@Model.KsbDetail</div>
        <div class="app-form-group">
            <label class="app-label" for="note">
                Note
            </label>
            <input class="app-input" id="note" name="Note" type="text" placeholder="Add a Note" asp-for="@Model.KsbProgress.Note">
        </div>
        <div class="app-form-group">
            <fieldset class="app-fieldset">
                <legend class="app-fieldset__legend">
                    Status
                </legend>
                <div class="app-radios">
                    <fieldset id="CurrentStatus">
                         @foreach (var ksbStatus in Model.KsbStatuses)
                        {
                            <div class="app-radios__item">
                                <input class="app-radios__input ksb-status" name="ksbstatus" type="radio" value="@ksbStatus.ToString()" checked="@(Model.KsbProgress.CurrentStatus == ksbStatus)" />
                                <label class="app-label app-radios__label" for="CurrentStatus">
                                    @{
                                        var statusItem = ksbStatus;
                                        string statusItemDisplay = statusItem.GetEnumDescription();
                                        <text>@statusItemDisplay</text>
                                    }
                                </label>
                            </div>
                        }
                    </fieldset>
                </div>

            </fieldset>
        </div>
        <input type="hidden" id="ksbProgressId" name="KsbProgressId" value="@Model.KsbProgress.KsbProgressId" />
        <input type="hidden" id="KsbId" name="KsbId" value="@Model.KsbProgress.KsbId" />
        <input type="hidden" id="KsbKey" name="KsbKey" value="@Model.KsbProgress.KsbKey" />
        <input type="hidden" id="CurrentStatus" name="CurrentStatus" value="@Model.KsbProgress.CurrentStatus" />
        <input type="hidden" id="KsbProgressType" name="KsbProgressType" value="@Model.KsbProgress.KsbProgressType" />
        <input type="hidden" id="TaskFiles" name="TaskFiles" value="@Model.KsbProgress.Tasks" />
   
    </form>
    <hr class="app-separator" />
</div>   

@await Html.PartialAsync("_KsbJs.cshtml", Model)