@{
    ViewData["Title"] = "KSB";
    ViewData["Section"] = "KSB";
    Layout = "_Layout";
}

<h1 class="govuk-heading-xl">Your knowledge, skills and behaviours (KSBs)</h1>


<div>
    <button class="govuk-button" data-module="govuk-button">Knowledge(@Model.KnowledgeCount.ToString())</button>
    <button class="govuk-button" data-module="govuk-button">Skills(@Model.SkillCount.ToString())</button>
    <button class="govuk-button" data-module="govuk-button">Behaviours(@Model.BehaviourCount.ToString())</button>
</div>

@if (Model.Ksbs != null && Model.Ksbs.Count > 1)
{
    @foreach (var ksb in Model.Ksbs)
    {
        <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        @ksb.Id
                    </span>
                </h2>
            </div>
            <div id="accordion-default-content-@ksb.Key" class="govuk-accordion__section-content">
                <div class="govuk-body">@ksb.Key</div>
                <div class="govuk-body">@ksb.Detail</div>
            </div>
        </div>

        <h2>@ksb.Type</h2>
        <p>@ksb.Key</p>
        <p>@ksb.Detail</p>
    }

}
